h1 {
    text-align: center;
}

table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid black;
    padding: 8px;
    width: 90%;
    margin: 50pt 50pt;
}

#upload {
    align-self: center;
}

#mediaFiles th {
    background-color: khaki;
}

#uploadModal {
    margin-left: 100pt;
}